apiVersion: v1
kind: Secret
metadata:
  name: postgres
  namespace: jobradar
type: Opaque
stringData:
  username: jobradar
  password: changeme
  url: "postgresql://jobradar:changeme@postgresql:5432/litellm"